body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    
}

.top-menu{
    padding: 0;
    margin: 0;
    height: 50px;
    background-color: rgb(0,0,0);
}

.menu{
    padding: 0;
    margin: 0 auto;
    max-width: 1024px;
    height: 50px;
    background-color: rgb(0,0,0);
    overflow: hidden;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;  
    text-align: center;
    align-items: center;
    margin: 15px 0 0 0;
    
}
.menu ul {
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    color: rgb(209,209,209);
    
}

.logo{
    margin: 0px 0px 10px 10px;
    height: 25px;
    width: auto;
}

/* top ended */

.banner{
    margin: 0;
    padding: 0;
    height: auto;
    background-color: rgb(29,29,31);
    color:aliceblue;
    text-align: center;
}

.banner p{
    margin: 0%;
    padding: 16px;
}

.front-1{
    background-color: rgb(1,0,1);
    color: rgb(190,184,174);
    text-align:center;
    padding: 200px 0 0 0;
    align-content: center;
    display: inline-block;
    width: auto;
}
.front-1 span{
    margin: 100px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.titan{
    width: 60%;
    height: auto;
    display: inline-block;
    align-content: center;
    overflow: hidden;
}


.buy{
    height: 30vh;
    width:100%;
    align-items: center;
    color: aliceblue;
}

.buy a{
    padding: 10px;
    
    border-radius: 20px;
    background-color: rgb(0,113,227);
}

hr{
    border: none;
}

/* 15 started */

.i-15{
    width: 100vw;
    height:auto;
    background-color:rgb(255,255,255);
}

.video-15{
    width: 100%;
    height: auto;
}

.i-15 h2,.i-15 p{
    text-align: center;
    padding:  0 0 0;
}

/* wacth started */

.watch{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.watch-video{
    width: 100%;
    height: 100;
    position: absolute;
    object-fit: cover;
}

.watch .caption {
    z-index: 1;
    position: relative;
    align-content: center;
    text-align: center;
    color: rgb(255,255,255);
    
}

.caption{
    margin:15% auto; 
    overflow: hidden;
    
}

.caption h3{
    font-weight: 90;
    font-size: 25px;
}

.caption h4{
    font-weight: 150;
    font-size: 20px;
}

/* .block{
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
}

.red{
    align-content: center;
    text-align: center;
    background-color: rgb(250,250,250);
    width: 100vh;
    height: auto ;
    overflow: hidden;
}

.mac-img {
    display: block;
    margin: 0 50px 0 0 ;  
    max-width: (500px) ; 
    height: 100%; 
    overflow: hidden; 
    align-content: center;
}


.headline{
    margin: 0px 0px 0px 0px;
    padding-top: 30px;
    font-size: 30px;
    color: rgb(29,29,31);
}

.sub-headline{
    font-size: 20px;
}

.block a{
    text-decoration: none;
    color: rgb(45,129,212);
    padding: 20px;
    font-size: 15px ;
    font-weight: 500;
}



.blue{
    background-color: blue;
    width: 100%;
    height: 100px;
}

.img-block{
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
} */


.carousel-item{
    width: 100vw;
    height: 100vh;

}